/*****Base*****/

html
{
    height: 100%;
}

body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    min-height: 100%;
    position: relative;
}

input, textarea
{
    font-size: 1em;
}

h1, h2
{
    text-align: center;
    color: #348ffe;
}

h3
{
    background-color: black;
    color: #9fcaff;
    font-size: 1.1em;
    margin-bottom: 0px;
    padding: 5px 10px;
}

a
{
    text-decoration: none;
    color: #348ffe;
}

a:hover
{
    color: #348ffe;
}

ul, li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.grid
{
    width: 70%;
    margin: auto;
}

.menu-burger
{
    display: none;
}

.header-title p
{
    display: none;
}

/*****footer*****/

footer
{
    height: 30px;
    background-color: #9fcaff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-content
{
    font-size: 0.7em;
    margin: 0;
    text-align: center;
}

.footer-content a
{
    color: black;
    text-decoration: underline;
}

.footer-content a:hover
{
    text-decoration: none;
}

.last-section
{
    padding-bottom: 80px;
}

/*****Header*****/

header
{
    height: 300px;
    background: url(img/header.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #348ffe;
}

.header-title
{
    width: 600px;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Aguafina Script', cursive;
}

.header-title h1
{
    font-size: 3em;
    align-self: flex-start;
    margin: 5px 0;
}

.header-title h2
{
    font-size: 2em;
    align-self: flex-end;
    margin: 5px 0;
}

.menu ul
{
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
}

.menu
{
    margin: 5px auto;
    height: 10%;
}

.menu-item
{
    margin: 0 10px;
    color: white;
}

.menu-item:first-child
{
    margin-left: 0;
}


/*****Page d'accueil*****/

.p1, .p2
{
    width: 40%;
    margin: 0;
    align-self: center;
}

.home-body-text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-p
{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}

.p1-img, .p2-img
{
    width: 35%;
    align-self: center;
}

.p2-img
{
    margin-right: 10px;
}

.signature
{
    margin: 10px auto;
}

.signature-p
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.signature-img
{
    width: 20%;
    align-self: center;
}

.signature p:last-child
{
    text-align: right;
    margin-bottom: 0;
}


/*****Affichage des épisodes : article et commentaire*****/

.post-title
{
    text-align: center;
    text-transform: uppercase;
}

.post-content
{
    display: none;
}

.news p
{
    padding: 10px;
    margin: 0;
}

.post-nav
{
    height: 20px;
    position: relative;
    margin-top: 10px;
}

.post-prev
{
    position: absolute;
    top: 0px;
    left: 0;
    margin-left: 20px;
}

.post-next
{
    position: absolute;
    top: 0px;
    right: 0;
    margin-right: 20px;
}

.news
{
    background-color: #9fcaff;
}

.comment-form
{
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #348ffe;
    border-radius: 3px;
    width: 70%;
    padding: 10px 20px;
}

.comment-form p
{
    margin-top: 0;
    text-align: center;
}

#create-author, #create-comment
{
    margin-bottom: 20px;
}

#create-comment
{
    width: 99%;
}

.btn
{
    background-color: #9fcaff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    font-size: 1em;

}

.btn:hover
{
    background-color: #348ffe;
    color: white;
}

.comments
{
    border: solid 1px #348ffe;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comments form
{
    align-self: flex-end;
}

.comment-body p:first-child
{
    margin: 0;
}

.comment-body strong
{
    color: #348ffe;
}


/****Liste des épidoses*****/

.episode
{
    display: flex;
    justify-content: space-between;
}

.read-episode
{
    color: #9fcaff;
}


/*****Header de l'admin*****/

.header-admin .header-title
{
    font-size: 0.8em;
    width: 70%;
}

.header-admin a
{
    font-size: 0.8em;
}


/*****Admin des commentaires*****/

.comment-info
{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.show-post
{
    margin-bottom: 0;
}
/*.del-btn
{
    margin: auto;
    align-self: center;
}*/

.comment-sort ul
{
    display: flex;
    justify-content: space-around;
}

.comment-info-btn
{
    display: flex;
    justify-content: space-around;
}


/*****Admin des articles*****/

.table
{
    width: 100%;
    border-collapse: collapse;
}

.table tr
{
    border-bottom: 1px solid #348ffe;
}

.table tr:hover
{
    background-color: #c7e0ff;
}

.table tr:last-child
{
    border: none;
}

.table-post-action
{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.table-post-action a
{
    min-width: 141px;
    margin-left: 10px;
}

/*****Page d'admin d'un article*****/

.one-post-action
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-post-action a
{
    margin-left: 10px;
}

/*****Page de créations des articles*****/

#create-title
{
    width: 300px;
    margin-bottom: 30px;
    margin-left: 20px;
}


/*****Page d'erreur*****/

.error-img
{
    width: 70%;
    align-self: center;
}

.error-section
{
    display: flex;
    flex-direction: column;
}


/*****Responsivité*****/

@media (max-width: 1040px)
{
    .grid
    {
        width: 95%;
    }
    
    .header-admin .header-title
    {
        font-size: 0.7em;
        width: 90%;
    }

    .header-title
    {
        width: 90%;
    }

    .login-form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px)
{
    .menu
    {
        display: none;
    }

    .menu-burger
    {
        display: block;
    }

    .responsive-none
    {
        display: none;
    }

    .header-title p
    {
        display: block;
        text-align: center;
        align-self: center;
        font-size: 3em;
    }

    .header-title
    {
        height: 210px;
    }

    .header-title h1
    {
        align-self: center;
    }

    .p1, .p2
    {
        width: 60%;
    }

    th
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table-post-action
    {
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 420px)
{
    .grid
    {
        width: 98%;
    }

    #create-title
    {
        margin: 2px;
    }

    .p1-img, .p2-img
    {
        display: none;
    }

    .p1, .p2
    {
        width: 100%;
    }

    .signature-img
    {
        width: 30%;
    }

    .signature-p
    {
        width: 65%;
    }

    #create-author
    {
        width: 100%;
    }

    footer
    {
        height: 40px;
    }

    .table-post-action, .one-post-action
    {
        flex-direction: column;
    }

    .one-post-action a, .table-post-action a
    {
        margin-left: 0;
    }
}


/*****Menu Burger*****/

.menu-burger
{
    width: 70px;
    height: 70px;
    position: relative;
    margin: 0 0 20px 20px;
}


.menu-mobile
{
    position: absolute;
    font-size: 1.2em;
    top: 90px;
    left:-20px;
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    width: 250px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    display: none;
    z-index: 3;
}

.toggler
{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.hamburger
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top:0;
    z-index: 1;
}

.hamburger div
{
    width: 100%;
    height: 4px;
    background-color: #9fcaff;
}

.toggler:checked ~ .menu-mobile
{
    display: flex;
}