body
{
    font-family: 'Montserrat', sans-serif;
}


h1, h2
{
    text-align: center;
    color: #348ffe;
}

h3
{
    background-color: black;
    color: #9fcaff;
    font-size: 0.9em;
    margin-bottom: 0px;
    padding: 5px 10px;
}

a
{
    text-decoration: none;
    color: #348ffe;
}

a:hover
{
    color: #348ffe;
}

ul, li
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.grid
{
    width: 70%;
    margin: auto;
}


/*****Header*****/

header
{
    height: 300px;
    background: url(img/header.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #348ffe;
}

.header-title
{
    width: 500px;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Aguafina Script', cursive;
}

.header-title h1
{
    font-size: 3em;
    align-self: flex-start;
    margin: 5px 0;
}

.header-title h2
{
    font-size: 2em;
    align-self: flex-end;
    margin: 5px 0;
}

.menu ul
{
    height: 10%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.menu
{
    margin: 5px auto;
}

.menu-item
{
    margin: 0 10px;
    color: white;
}

.menu-item:first-child
{
    margin-left: 0;
}


/*****Page d'accueil*****/

.home-body
{
    
}


/*****Affichage des épisodes : article et commentaire*****/

.post-title
{
    text-align: center;
    text-transform: uppercase;
}

.post-content
{
    display: none;
}

.news p
{
    padding: 10px;
    margin: 0;
}

.news p:last-child
{
    display: none;
}

.post-nav
{
    height: 20px;
    position: relative;
    margin-top: 10px;
}

.post-prev
{
    position: absolute;
    top: 0px;
    left: 0;
    margin-left: 20px;
}

.post-next
{
    position: absolute;
    top: 0px;
    right: 0;
    margin-right: 20px;
}

.news
{
    background-color: #9fcaff;
}

.comment-form
{
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #348ffe;
    border-radius: 3px;
    width: 70%;
    padding: 10px 20px;
}

.comment-form p
{
    margin-top: 0;
    text-align: center;
}

#create-author, #create-comment
{
    margin-bottom: 20px;
}

#create-comment
{
    width: 99%;
}

.btn
{
    background-color: #9fcaff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
}

.btn:hover
{
    background-color: #348ffe;
}

.comments
{
    border: solid 1px #348ffe;
    border-radius: 3px;
    margin: 5px 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comments form
{
    align-self: flex-end;
}

.comment-body p:first-child
{
    margin: 0;
}

.comment-body strong
{
    color: #348ffe;
}

/****Liste des épidoses*****/

.episode
{
    display: flex;
    justify-content: space-between;
}

.read-episode
{
    color: #9fcaff;
}


/*****Header de l'admin*****/

.header-admin .header-title
{
    width: 70%;
}


/*****Admin des commentaires*****/

.comment-info
{
    align-self: flex-end;
}